{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h2 id="titleAbout">{{ title }}</h2>

<div class="block-about">
    <div class="block-about header">
        <p>
            <strong>"АвтоСтиль"</strong> -
            <em>
                это один из крупнейших онлайн-магазинов
                автомобильных аксессуаров и принадлежностей
                на территории России
            </em>.
            Мы предлагаем широкий ассортимент
            товаров, которые помогут сделать ваш
            автомобиль уникальным и комфортным.
            Наша компания была основана в 2010 году и
            с тех пор мы завоевали доверие многих клиентов
            благодаря нашим качественным товарам,
            доступным ценам и отличному сервису.
        </p>
        <div class="header pic"><img id="piclogo" src="{% static 'app/content/piclogo.jpg' %}" alt="" /></div>
        <p>
            Наша продукция проходит строгий контроль качества,
            чтобы обеспечить вам только наилучшую продукцию.
            Мы работаем только с проверенными производителями и
            поставщиками, чтобы гарантировать,
            что каждый товар, который вы покупаете,
            соответствует высоким стандартам.
        </p>
    </div>
    <hr class="hrline">

    <h2>Наши преимущества</h2>

    <div class="row cons">
        <div class="col-md-4 cell">
            <div><img class="ico" src="{% static 'app/content/Выбор.png' %}" alt="" /></div>
            <strong><ins>Широкий ассортимент</ins></strong><br>
            мы предлагаем аксессуары
            для интерьера и экстерьера автомобиля,
            а также различные технические аксессуары и автохимию.
        </div>
        <div class="col-md-4 cell">
            <div><img class="ico" src="{% static 'app/content/Качество.png' %}" alt="" /></div>
            <strong><ins>Качество товаров</ins></strong><br> все наши товары проходят
            строгий контроль качества и
            соответствуют высоким стандартам
        </div>
        <div class="col-md-4 cell">
            <div><img class="ico" src="{% static 'app/content/Доставка.png' %}" alt="" /></div>
            <strong><ins>Быстрая доставка</ins></strong><br>
            мы осуществляем доставку товаров
            по всей территории России с использованием
            различных способов доставки,
            включая курьерскую службу и
            самовывоз из наших магазинов.
        </div>
    </div>

    <div class="row cons">
        <div class="col-md-4 cell">
            <div><img class="ico" src="{% static 'app/content/Цены.png' %}" alt="" /></div>
            <strong><ins>Выгодные цены</ins></strong><br>
            мы работаем напрямую с производителями,
            что позволяет нам предлагать нашим клиентам
            доступные цены на товары.
        </div>
        <div class="col-md-4 cell">
            <div><img class="ico" src="{% static 'app/content/Возврат.png' %}" alt="" /></div>
            <strong><ins>Гарантия возврата</ins></strong><br>
            если товар не подошел или
            не соответствует описанию,
            вы можете вернуть его в течение 14 дней с момента получения.
        </div>
        <div class="col-md-4 cell">
            <div><img class="ico" src="{% static 'app/content/Консультация.png' %}" alt="" /></div>
            <strong><ins>Профессиональная консультация</ins></strong><br>
            наши менеджеры всегда
            готовы помочь вам с выбором товара и
            ответить на все ваши вопросы.
        </div>
    </div>


    <hr class="hrline">
    <p>
        Независимо от того, ищете ли вы аксессуары для стайлинга,
        улучшения комфорта или обслуживания вашего автомобиля,
        мы уверены, что вы найдете то, что вам нужно в нашем магазине.
    </p>
</div>

{% endblock %}
