{% extends "app/layout.html" %}

{% block content %}

<h2 id="titleVideopost">{{ title }}</h2>
<hr class="hrline" />
<div>
    <h3>С подходящим транспортным средством любая поездка может стать настоящим приключением</h3>
    <video src="/media/video1.mp4" controls="controls" width="600" poster="/media/videoposter1.jpg"></video>
</div>

<hr class="hrline" />

<div>
    <h3>Навесное оборудование и аксессуары на авто</h3>
    <video src="/media/video2.mp4" controls="controls" width="600" poster="/media/videoposter2.jpg"></video>
</div>


{% endblock %}
