body {
    padding-top: 120px;
    padding-bottom: 20px;
    background-color: gainsboro;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.ico {
    width:75px;
    margin-bottom:15px;
}

.hrline {
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    border-top: 2px solid rgb(0,0,0);
}

.navbar-nav {
    margin-top: 35px;
    font-size: 14px;
}

.navbar-right,
.navbar-right .navbar-brand
{
    font-size: 12px;
}

.block-about p {
    font-size: 22px;
    line-height: 160%;
}

.block-about h2 {
    text-align: center;
    margin-bottom: 25px;
}

.cons {
    text-align: center;
    margin-bottom: 35px;
}
.cons .cell {
    padding: 15px;
    height: 300px;
    font-size: 18px;
}

#titleAbout {
    text-align: center;
    font-size: 36px;
    margin-bottom: 25px;
}

#titleContact {
    font-size: 36px;
    margin-bottom: 25px;
}

.map iframe {
    width: 100%;
}

.jumbotron {
    padding: 10px;
    box-shadow: 0 14px 28px #FCD32B, 0 10px 10px #FCD32B;
}

.jumbotron .lead {
    font-size: 28px;
    line-height: 150%;
    text-align:center;
}


.jumbotron p {
    font-size: 22px;
    line-height: 150%;
}

#face {
    width: 100%;
    margin-bottom: 25px;
    border: solid #FCD32B 2px;
    border-radius: 10px;
}

.pic {
    text-align:center;
}

.pic #piclogo {
    width: 100%;
    max-width: 720px;
    border: solid #FCD32B 2px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.prod{
    text-align:center;
    margin-top:25px;
    margin-bottom:25px;
}


.product {
    border: solid #FCD32B 2px;
    border-radius: 15px;
}

.p1, .p2, .p3 {width: 49%;}

.block-links{
    font-size:24px;
    line-height:150%;
}

.block-links .org {
    margin-bottom:25px;
    margin-top:25px;
}

.orgname {
    font-size: 36px;
    margin-left: 25px;
}

body {
    overflow-y: scroll;
}

.feed-block {
    line-height: 25px;
    
}

.feed-block p {
    margin-bottom: 30px;
    font-size: 14px;
}

.feed-block .inp {
    font-size: 16px;
    margin-bottom: 25px;
}

form .confirm{
    font-size:12px;
}
form .inpgroup1, form .inpgroup2{
    width:100%;
}

form .inpgroup1 .inp {
    margin: 30px;
    margin-top: 0;
    min-width:330px;
    width: 50%;

}
form .inpgroup2 .inp {
    margin: 30px;
    margin-top: 0;
    min-width: 330px;
    width: 50%;
}

form .inpgroup3 {
    margin: 30px;
    margin-top: 0;
}

form .inpgroup3 .inp, .cb {
    font-size: 16px;
}

form .inpgroup4 {
    margin: 30px;
    margin-top: 0;
    min-width: 330px;
    width: 50%;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
    width: 100%;
    border-radius: 25px;
    padding-left: 10px;
    max-width: 100%;
}

form select {
    border-radius: 25px;
    max-width: 100%;
}

form .inpgroup5 div {
    margin-left: 30px;
}

.but {
    border-radius: 7px;
    font-size: 14px;
    background-color: rgb(252, 211, 43,0.5);
}

#id_name, #id_email, #id_city, #id_phone, #id_message {
    background-color: rgb(252, 243, 146);
}

h5 {
    color: black;
    text-decoration:underline;
}

.carousel-caption {
    background-color:rgba(0,0,0,0.65);
    border-radius:25px;
}

.postpic{
    width: 650px;
    margin-bottom:45px;
    margin-top:15px;
    border-radius:5px;
}

.blockpp {
    text-align:center;
}
.postpic {
    min-width: 320px;
    width: 50%;
}

.blogpost h2{
    font-weight:bold;
    text-align:center;
}

.videos{
    min-width:320px;
    width:50%;
}

